<header>
    <h1>Potter Pedia</h1>
    <p class="subtitle">Your magical wiki of Wizardry</p>

    <div class="nav-search-container">
        <nav class="site-nav">
            <ul>
                <li>
                    <a href="${basepath}index.html" class="home" aria-current="page">
                        <img src="${basepath}nav-icons/home.png" alt="Home" width="32" height="32" />
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="${basepath}characters/index.html" class="characters">
                        <img
                            src="${basepath}nav-icons/people.png"
                            alt="Characters"
                            width="32"
                            height="32"
                        />
                        <span>Characters</span>
                    </a>
                </li>
                <li>
                    <a href="${basepath}spells/index.html" class="spells">
                        <img
                            src="${basepath}nav-icons/magic-wand.png"
                            alt="Spells"
                            width="32"
                            height="32"
                        />
                        <span>Spells</span>
                    </a>
                </li>
                <li>
                    <a href="${basepath}potions/index.html" class="potions">
                        <img
                            src="${basepath}nav-icons/potion.png"
                            alt="Potions"
                            width="32"
                            height="32"
                        />
                        <span>Potions</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="search-filter">
            <form class="search-container" role="search">
                <label for="site-search" class="visually-hidden">Search Potter Pedia</label>
                <input id="site-search" type="search" placeholder="Search for something..." name="s" />
                <button class="btn-search" type="submit">Search</button>
            </form>
            <nav aria-label="User navigation">
                <a href="${basepath}favourites/index.html" class="favourites">
                    <img src="${basepath}nav-icons/star.png" alt="favourites" width="32"
                            height="32"/>
                    <span>Favourites</span>
                </a>
            </nav>
            <p id="offline-message" class="offline" aria-live="polite" hidden role="alert">You are offline</p>
        </div>
    </div>
</header>
