<div class="nav-search-container">
    <h2>Categories</h2>
    <nav class="site-nav">
        <ul>
            <li>
                <a href="${basepath}books/index.html" class="Books">
                    <img src="${basepath}nav-icons/book.png" alt="Books" />
                    <span>Books</span>
                </a>
            </li>
            <li>
                <a href="${basepath}characters/index.html" class="Characters">
                    <img src="${basepath}nav-icons/people.png" alt="Characters" />
                    <span>Characters</span>
                </a>
            </li>
            <li>
                <a href="${basepath}spells/index.html" class="Spells">
                    <img src="${basepath}nav-icons/magic-wand.png" alt="Spells" />
                    <span>Spells</span>
                </a>
            </li>
            <li>
                <a href="${basepath}movies/index.html" class="Movies">
                    <img src="${basepath}nav-icons/video.png" alt="Movies" />
                    <span>Movies</span>
                </a>
            </li>
            <li>
                <a href="${basepath}potions/index.html" class="Potions">
                    <img src="${basepath}nav-icons/potion.png" alt="Potions" />
                    <span>Potions</span>
                </a>
            </li>
        </ul>
    </nav>
    <section class="search-filter">
        <form class="search-container">
            <input type="text" placeholder="Search..." name="s" />
            <button class="btn-search" type="submit">Search</button>
        </form>
        <form class="filter-container">
            <select id="filter" name="filter">
                <option selected hidden>Filter</option>
                <option value="books">Books</option>
                <option value="characters">Characters</option>
                <option value="spells">Spells</option>
                <option value="movies">Movies</option>
                <option value="potions">Potions</option>
            </select>
        </form>
    </section>
</div>
