<div class="nav-search-container">
    <h2>Categories</h2>
    <nav class="site-nav">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/books/index.html">Books</a></li>
            <li><a href="/characters/index.html">Characters</a></li>
            <li><a href="/spells/index.html">Spells</a></li>
            <li><a href="/movies/index.html">Movies</a></li>
            <li><a href="/potions/index.html">Potions</a></li>
        </ul>
    </nav>

    <section class="search-filter">
        <div class="search-container">
            <input type="text" placeholder="Search..." />
            <button class="btn-search" type="submit">Search</button>
        </div>
        <div class="filter-container">
            <select id="filter">
                <option selected hidden>Filter</option>
                <option value="books">Books</option>
                <option value="characters">Characters</option>
                <option value="spells">Spells</option>
                <option value="movies">Movies</option>
                <option value="potions">Potions</option>
            </select>
        </div>
    </section>
</div>
