<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" href="${basepath}icons/favicon.ico" sizes="any" />

<link rel="icon" href="${basepath}icons/icon-48x48.png" sizes="48x48" type="image/png" />
<link rel="icon" href="${basepath}icons/icon-72x72.png" sizes="72x72" type="image/png" />
<link rel="icon" href="${basepath}icons/icon-96x96.png" sizes="96x96" type="image/png" />
<link rel="icon" href="${basepath}icons/icon-144x144.png" sizes="144x144" type="image/png" />
<link rel="icon" href="${basepath}icons/icon-192x192.png" sizes="192x192" type="image/png" />
<link rel="icon" href="${basepath}icons/icon-512x512.png" sizes="512x512" type="image/png" />
<link
    rel="apple-touch-icon"
    href="${basepath}icons/icon-180x180.png"
    sizes="180x180"
    type="image/png"
/>
<link rel="icon" href="${basepath}icons/icon-167x167.png" sizes="167x167" type="image/png" />
<link rel="icon" href="${basepath}icons/icon-152x152.png" sizes="152x152" type="image/png" />
<link rel="icon" href="${basepath}icons/icon-120x120.png" sizes="120x120" type="image/png" />
<link
    rel="apple-touch-icon"
    href="${basepath}icons/icon-76x76.png"
    sizes="76x76"
    type="image/png"
/>
<link
    rel="apple-touch-icon"
    href="${basepath}icons/icon-70x70.png"
    sizes="70x70"
    type="image/png"
/>
<link rel="icon" href="${basepath}icons/icon-150x150.png" sizes="150x150" type="image/png" />
<link
    rel="apple-touch-icon"
    href="${basepath}icons/icon-310x310.png"
    sizes="310x310"
    type="image/png"
/>

<!-- Tile Icon (for Microsoft Edge/Windows) -->
<link rel="tile-icon" href="${basepath}icons/icon-310x310.png" />
<!-- Title (SEO and browser tab display) -->
<meta
    name="description"
    content="Potter Pedia is a fan-made Harry Potter encyclopedia. Explore characters, spells, potions, movies, and magical lore from the Wizarding World."
/>
<!-- Theme Color (for browser UI) -->
<meta name="theme-color" content="#ffffff" />
<!-- Open Graph / Social Media Meta Tags (Optional but recommended) -->
<meta property="og:title" content="Potter Pedia" />
<meta property="og:description" content="A PWA front end for harry potter API" />
<meta property="og:image" content="${basepath}icons/icon-512x512.png" />
<!-- Preloads -->
<link
    rel="preload"
    href="${basepath}assets/fonts/HARRYP.TTF"
    as="font"
    type="font/ttf"
    crossorigin
/>

<title>Potter Pedia</title>
