/*
Base styles for the entire project.

Contains global defaults such as body styling, typography,
colors, and font definitions. 

No layout positioning, no components, and no responsive rules.
This file sets the visual foundation for all pages.
*/

/* Reset & body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: white;

    background-image: url("/Hogwarts-600.webp");
    /* eslint-disable-next-line */
    background-image: -webkit-image-set(
        url("/Hogwarts-600.webp") 1x,
        url("/Hogwarts-1200.webp") 2x
    );
    /* eslint-disable-next-line */
    background-image: image-set(url("/Hogwarts-600.webp") 1x, url("/Hogwarts-1200.webp") 2x);

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #383838;
    background-blend-mode: overlay;
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom font */
@font-face {
    font-family: "HarryPotter";
    src: url("../../public/HARRYP.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Global link reset */
a {
    text-decoration: none;
    color: #fff;
}

/* Background image adjustments for smaller screens */

/* small screens */
@media (max-width: 599px) {
    body {
        background-image: url("/Hogwarts-600.webp");
        /* eslint-disable-next-line */
        background-image: -webkit-image-set(
            url("/Hogwarts-600.webp") 1x,
            url("/Hogwarts-1200.webp") 2x
        );
        /* eslint-disable-next-line */
        background-image: image-set(url("/Hogwarts-600.webp") 1x, url("/Hogwarts-1200.webp") 2x);
    }
}

/* small tablets / narrow desktops */
@media (min-width: 600px) and (max-width: 1153px) {
    body {
        background-image: url("/Hogwarts-1152.webp");
        /* eslint-disable-next-line */
        background-image: -webkit-image-set(
            url("/Hogwarts-1152.webp") 1x,
            url("/Hogwarts-2304.webp") 2x
        );
        /* eslint-disable-next-line */
        background-image: image-set(url("/Hogwarts-1152.webp") 1x, url("/Hogwarts-2304.webp") 2x);
    }
}

/* desktop */
@media (min-width: 1154px) and (max-width: 1599px) {
    body {
        background-image: url("/Hogwarts-1600.webp");
        /* eslint-disable-next-line */
        background-image: -webkit-image-set(
            url("/Hogwarts-1600.webp") 1x,
            url("/Hogwarts-3200.webp") 2x
        );
        /* eslint-disable-next-line */
        background-image: image-set(url("/Hogwarts-1600.webp") 1x, url("/Hogwarts-3200.webp") 2x);
    }
}

/* large desktops */
@media (min-width: 1600px) {
    body {
        background-image: url("/Hogwarts-2400.webp");
        /* eslint-disable-next-line */
        background-image: -webkit-image-set(
            url("/Hogwarts-2400.webp") 1x,
            url("/Hogwarts.webp") 2x
        );
        /* eslint-disable-next-line */
        background-image: image-set(url("/Hogwarts-2400.webp") 1x, url("/Hogwarts.webp") 2x);
    }
}
