/*
Base styles for the entire project.

Contains global defaults such as body styling, typography,
colors, and font definitions. 

No layout positioning, no components, and no responsive rules.
This file sets the visual foundation for all pages.
*/

/* Reset & body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: white;
    background-image: url("../../public/hogwarts.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #444444;
    background-blend-mode: overlay;
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom font */
@font-face {
    font-family: "HarryPotter";
    src: url("../../public/HARRYP.TTF") format("truetype");
}

/* Global link reset */
a {
    text-decoration: none;
    color: #fff;
}
