/*
Shared structural layout for the site.

Includes header, navigation container, footer,
and global page structure using flex or grid.

Focuses only on positioning and structure,
not detailed component styling.
*/

/* Header */
header {
    text-align: center;
    font-family: "HarryPotter", cursive;
    font-size: 1.6rem;
}

h1 {
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0.5rem;
}

/* Navigation container */
.nav-search-container {
    margin: 0 1rem;
}

/* Navigation list */
.site-nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.site-nav a,
.search-filter a {
    display: block;
    height: 32px;
}

/* theme toggle */
.theme-change {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* Footer layout */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(7, 6, 21, 0.9);
    margin-top: 2rem;
    padding: 1rem;
}

.category-header {
    margin: 1rem;
}

#favourites {
    gap: 1rem;
}
