:root {
    --main-color: #ecb939;
}

body[data-theme="Default"] {
    --main-color: #29aadd;
}

body[data-theme="Slytherin"] {
    --main-color: #21c48d;
}

body[data-theme="Hufflepuff"] {
    --main-color: #ecb939;
}

body[data-theme="Gryffindor"] {
    --main-color: #df3535;
}

body {
    color: var(--main-color);
}
